<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clothing Homepage</title>
</head>
<body>
    <h1>Clothing Homepage</h1>
    <p>Welcome to the Clothing Store!</p>
    <a href="./clothing">Browse Clothing Here</a>
</body>
</html>
